*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(45deg, #333, #000, #333, #000 );
    background-size: 200% 200%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    animation: bg-color 5s ease infinite;
}

@keyframes bg-color{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
