.container {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.alert-message {
    margin: 0 auto;
    padding: 0 2rem;
}

.alert-message h2 {
    font: normal 1.5rem sans-serif;
    line-height: 1.5;
    margin: 3rem auto;
}

.confirm-agreed {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
}

.confirm-agreed label {
    font: normal 1.3rem sans-serif;
    margin-left: .5rem;
}

.confirm-agreed input[type="checkbox"] {
    height: 1.3rem;
    width: 1.3rem;
    border: none;
}

.alert-message .active-btn {
    display: block;
}

span{
    color: #2e96f3;
}